@media {

img {
    width:100%;
}

body {
        background-color:#38b6ff;
    }

#topper {
    background-color:#38b6ff;
    
}

h1 {
    padding:10px 10px 10px 10px;
    margin: 25px;
    font-weight:bold;
}

h2 {
    padding:10px 10px 10px 10px;
    margin: 25px;
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
}
    
h3 {
    font-weight:bold;
    padding:10px 10px 10px 10px;
    margin: 25px;
    color:black;
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
    }

h4 {
    font-weight:bold;
    padding:10px 10px 10px 10px;
    margin: 25px;
    color:black;
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
    }

.caption {
    font-size:12px;
    color:white;
}

.credit {
    font-size:12px;
    color:gold;
    font-weight:bold;
    text-transform:uppercase;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.date {
    text-align:left;
    color:white;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    }
    
#content {
    width:100%;
    color:white;
    font-size:15px;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    }

    .pullquote {
        text-align:center;
        padding: 10px 30px 10px 30px;
        margin: 20px 0px 20px 0px;
        background-color:beige;
        width:50%
        color:black;
        border: 5px solid black;
    }

    .quote {
        font-size:50px;
        color:black;
        font-family: "Merriweather", serif;
    }
    
    .attribution {
        color:black;
    }
    
    .quotemark {
        
    }
    
    .disclaimer {
        color:white;
        
    }
    
    a{
        color:white;
    }

}

@media (min-width:576px) {
    #content {
        width:80%;
    }
}

@media (min-width:992px) {
    #content {
        width:60%;
    }
}